$primary-color: #28E1B4;
$primary-white-color: #FFFFFF;
$primary-bg-color: #F4F8FE;
$primary-shadow-color: rgba(40,225,180,0.15);
$primary-hover-color: rgba(40,225,180,0.65);
$primary-card-hover-color: rgba(28,30,37,0.08);
$primary-boder-color: #CED8E6;
$primary-title-color: #1C1E25;
$primary-desc-color: #51596D;
$primary-label-color: #8C96AA;
$primary-table-hover-color: #EFFDF9;
$primary-table-odd-color: rgba(206,216,230,0.15);
$primary-header-top-color: #013F5E;
$primary-header-bottom-color: #002740;
$primary-menu-hover-color: rgba(40,225,180,0.06);

$primary-card-actions-color: rgba(206,216,230,0.3);
$primary-card-border-color: rgba(206,216,230,0.4);

$primary-test-result-color: #E2E8F0;
$primary-test-hover-color: #CAD0D7;

$primary-btn-hover-color: #23CAA1;

$primary-icon-color: #91A5BE;
$primary-text-shadow-color: rgba(0,39,54,0.05);
$primary-pagination-hover-color: rgba(40,225,180,0.2);
$primary-level2-color: #32C8FF;
$primary-level3-color: #7681F5;
$primary-level4-color: #FF916C;
$primary-menu-color: #002A44;
$primary-dropdown-menu-hover-color: #00253D;



